*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.icon {
    font-size: 100px;
    background-color: rgb(169, 126, 111);
    color: white;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
}

.icon:hover {
    background-color: grey;
}

.counter-box {
    display:inline-block;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 100px;
    background-color: black;
    color: rgb(169, 126, 111);
    border-radius: 10px;
}

.btn {
    background-color: white;
    padding: 10px 15px;
    margin: 2px;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    border-radius: 20px;
}





@media(max-width: 800px) {
    .counter-box{
        max-width: 80vw;
    }
}